doctype html
html#html
  head(lang='en')
    title Course Runtime
    meta(charset='utf-8')
    meta(content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport')

    link(media='all' rel='stylesheet' href='/app.css')
    <!--[if lt IE 11]>
    <link media='all' rel='stylesheet' href='/app-ie.css'>
    <![endif]-->

    script(type='text/javascript' src='/app.js' defer)

    script(type='text/javascript').
      var app, options = {
        data:     !{ JSON.stringify(data) },
        lessonId: !{ JSON.stringify(lessonId || null) }
      };

      document.addEventListener('DOMContentLoaded', function() {
        options.el = document.body;
        app = new App(options);
        app.start();
      });
  body.no-scroll-x
