doctype html
html#html
  head(lang='en')
    title Friluftsliv
    meta(charset='utf-8')
    meta(content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport')

    link(media='all' rel='stylesheet' href='/app.css')
    <!--[if lt IE 11]>
    <link media='all' rel='stylesheet' href='/app-ie.css'>
    <![endif]-->

    script(type='text/javascript' src='/app.js' defer)

    script(type='text/javascript').
      var app, options = {
        data:     !{ JSON.stringify(data) },
        lessonId: !{ JSON.stringify(lessonId || null) }
      };

      document.addEventListener('DOMContentLoaded', function() {
        options.el = document.body;
        app = new App(options);
        app.start();
      });
  body.no-scroll-x
  
    script(type='text/javascript' src='https://fb.me/react-0.13.3.js' defer)
    script(type='text/javascript' src='https://fb.me/JSXTransformer-0.13.3.js' defer)
    <div id="mount-point1"></div><br/>
    <div id="mount-point2"></div>

    script(type='text/jsx').
      //-------------------------------------------------------------
      var Counter = React.createClass({
        incrementCount: function(){
          this.setState({
            count: this.state.count + 1
          });
        },
        getInitialState: function(){
           return {
             count: 0
           }
        },
        render: function(){
          return (
            <div class="my-component">
              <h1>Count: {this.state.count}</h1>
              <button type="button" onClick={this.incrementCount}>Increment</button>
            </div>
          );
        }
      });
      //-------------------------------------------------------------
      var FilteredList = React.createClass({
        filterList: function(event){
          var updatedList = this.state.initialItems;
          updatedList = updatedList.filter(function(item){
            return item.toLowerCase().search(
              event.target.value.toLowerCase()) !== -1;
          });
          this.setState({items: updatedList});
        },
        getInitialState: function(){
           return {
             initialItems: [
               "Apples",
               "Broccoli",
               "Chicken",
               "Duck",
               "Eggs",
               "Fish",
               "Granola",
               "Hash Browns"
             ],
             items: []
           }
        },
        componentWillMount: function(){
          this.setState({items: this.state.initialItems})
        },
        render: function(){
          return (
            <div className="filter-list">
              <input type="text" placeholder="Search" onChange={this.filterList}/>
            <List items={this.state.items}/>
            </div>
          );
        }
      });

      var List = React.createClass({
        render: function(){
          return (
            <ul>
            {
              this.props.items.map(function(item) {
                return <li key={item}>{item}</li>
              })
             }
            </ul>
          )  
        }
      });

  
      React.render(<Counter/>, document.getElementById('mount-point1'));
      React.render(<FilteredList/>, document.getElementById('mount-point2'));
